.dayInput {
  min-height: 100vh;
  .inner {
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    padding-top: 20px;

    .title {
      color: #00c6fb;
    }

    .dayList {
      margin: 20px 0;
      .day {
        margin-bottom: 25px;

        input {
          margin-left: 10px;
          border: 1px solid gray;
          font-size: 25px;
        }
      }
    }

    // 등록 버튼
    button {
      color: #ffffff;
      border-radius: 5px;
      border: none;
      padding: 10px 30px;
      font-size: 15px;
      background-color: #00c6fb;

      &.insert {
        float: right;
        ::after {
          clear: both;
        }
      }
    }
  }
}
