.dayInput {
  min-height: 100vh;
  .inner {
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    padding-top: 20px;

    .title {
      color: #00c6fb;
    }

    .day-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .dayList {
      margin: 20px 0;
      .day {
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        input {
          border: 1px solid gray;
          font-size: 20px;
          color: #2e2e2e;

          &.title {
            width: 43%;
          }

          &.content {
            width: 43%;
          }

          &.priority {
            width: 10%;
          }
        }
      }
    }

    // 등록 버튼
    button {
      color: #ffffff;
      border-radius: 5px;
      border: none;
      padding: 10px 30px;
      font-size: 15px;
      background-color: #00c6fb;

      &.insert {
        float: right;
        ::after {
          clear: both;
        }
      }
    }
  }
}
