.task-detail {
  h2 {
    text-align: center;
    font-size: 25px;
  }

  .content {
    padding: 20px 50px;

    .date {
      margin-bottom: 5px;
    }
    .task-schedule {
      margin-bottom: 20px;
    }

    .task-schedule-list {
      justify-content: space-between;
      display: flex;
      div {
        margin-right: 20px;
      }
      button {
        width: 80px;
      }
    }
  }

  button {
    cursor: pointer;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    font-size: 15px;
    //등록
    &.insert {
      width: 100%;
      background-color: #00c6fb;
    }
  }
}
