.header-bar {
  display: flex;
  justify-content: space-between;
  padding: 25px 5%;
  margin-bottom: 20px;
  background-color: #525fe1;
  color: #fff6f4;
  align-items: center;
  .title {
    font-size: 35px;
    h2 {
      cursor: pointer;
    }
  }

  // 알람 아이콘
  .alarm-icon {
    // position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1rem;
    top: 2rem;
    right: 20%;
    width: 4rem;
    height: 2rem;
    background-image: url(../assets/images/icon/alarm.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    cursor: pointer;
  }

  .logout {
    font-size: 20px;
    cursor: pointer;
  }
}
