.login {
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;

  .login-wrap {
    padding-top: 190px;
    width: 390px;
    border-radius: 10px;
    font-size: 14px;
    img {
      width: 120px;
      height: 120px;
    }
    h1 {
      font-size: 24px;
      margin: 20px 0 45px 0;
    }
    .input-box {
      width: 100%;
      border-radius: 25px;
      border: 1px solid #cccccc;
      background: #fff;
      margin-bottom: 10px;

      input {
        font-size: 15px;
        height: 50px;
        padding: 0 30px 0 53px;
        background: transparent;
        border: none;
        width: 100%;
        box-sizing: border-box;
        line-height: 1.2px;
        ::placeholder {
          color: transparent;
        }
      }
      label {
        display: none;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    button {
      font-size: 15px;
      cursor: pointer;
      margin-top: 20px;
      color: #e0e0e0;
      width: 100%;
      padding: 15px;
      border: none;
      height: 50px;
      border-radius: 25px;
      background-color: #333;
    }

    .findAccount {
      padding: 25px 0 230px;
      font-size: 16px;
      color: #cccccc;
    }

    .join {
      font-size: 16px;
      a {
        color: #cccccc;
        text-decoration: none;
      }
      &:hover {
        cursor: pointer;
        color: #ffffff;
        font-weight: 700;
      }
    }
  }
}
