.calendar {
  max-width: 1050px;
  margin: 0 auto;
  .header {
    display: flex;
    justify-content: space-between;
    .title {
      .month {
        font-size: 50px;
        margin-left: 10px;
        .eng {
          font-size: 25px;
          margin: 0 5px;
        }
      }
      .year {
        font-size: 15px;
      }
    }

    .arrow {
      padding-top: 20px;
      svg {
        margin: 0 5px;
        cursor: pointer;
      }
    }
  }

  .row {
    display: flex;
    &.day {
      .week {
        background-color: #333333;
        width: 150px;
        text-align: center;
        height: 40px;
        box-sizing: border-box;
        padding: 10px 0;
        color: #ffffff;
        &:first-child {
          background-color: red;
        }

        &:last-child {
          background-color: royalblue;
        }
      }
    }

    .cell {
      width: 150px;
      height: 130px;
      box-sizing: border-box;
      padding: 10px;
      border-right: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      text-align: left;
      cursor: pointer;
      font-size: 15px;

      &:first-child {
        color: red;
        font-weight: 900;
        border-left: 1px solid #cccccc;
      }
      &:last-child {
        color: royalblue;
        font-weight: 900;
      }
      //
      //.not-vaild {
      //  color: black !important;
      //}

      &.disabled {
        color: #dddddd;
      }
    }
  }

  &.scroll {
    position: relative;

    .text-today {
      margin-bottom: 50px;
    }

    .day {
      position: fixed;
    }

    .header {
      position: absolute;
      top: 25px;
      left: 0;
    }

    .calendar-list {
      border-bottom: 1px solid #cccccc;
      padding-top: 40px;
      margin-top: 40px;
      max-height: 700px;
      overflow-y: scroll;
    }
  }

  .set-date {
    margin: 20px 0;
    font-size: 20px;
    div {
      display: inline-block;
      width: 50%;
    }
  }

  button {
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    font-size: 15px;
    background-color: #00c6fb;

    &.next {
      float: right;
      ::after {
        clear: both;
      }
    }
  }
}
