.main {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  min-width: 1085px;
  margin: 0 auto;

  .calendar {
    width: 65%;
    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .title {
        .month {
          font-size: 50px;
          margin-left: 10px;
          .eng {
            font-size: 25px;
            margin: 0 5px;
          }
        }
        .year {
          font-size: 15px;
        }
      }

      .arrow {
        padding-top: 20px;
        svg {
          margin: 0 5px;
          cursor: pointer;
        }
      }
    }

    .row {
      display: flex;
      &.day {
        .week {
          background-color: #333333;
          min-width: 100px;
          width: 100%;
          text-align: center;
          height: 40px;
          box-sizing: border-box;
          padding: 10px 0;
          color: #ffffff;
          &:first-child {
            background-color: #ffa41b;
          }

          &:last-child {
            background-color: #525fe1;
          }
        }
      }

      .cell {
        min-width: 100px;
        width: 100%;
        height: 130px;
        box-sizing: border-box;
        padding: 10px 0;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        text-align: left;
        cursor: pointer;
        font-size: 15px;

        .daily {
          padding: 0 10px;
        }

        &:first-child {
          color: #ffa41b;
          font-weight: 900;
          border-left: 1px solid #cccccc;
        }
        &:last-child {
          color: #525fe1;
          font-weight: 900;
        }

        .check {
          display: inline-block;

          width: 100%;
          height: 15px;
          background-color: #525fe1;
        }
        //
        //.not-vaild {
        //  color: black !important;
        //}

        &.disabled {
          color: #dddddd;
        }
      }
    }

    &.scroll {
      position: relative;

      .text-today {
        margin-bottom: 50px;
      }

      .day {
        position: fixed;
      }

      .header {
        position: absolute;
        top: 25px;
        left: 0;
      }

      .calendar-list {
        border-bottom: 1px solid #cccccc;
        padding-top: 40px;
        margin-top: 40px;
        max-height: 700px;
        overflow-y: scroll;
      }
    }

    .set-date {
      margin: 20px 0;
      font-size: 20px;
      div {
        display: inline-block;
        width: 50%;
      }
    }

    button {
      color: #fff6f4;
      border-radius: 5px;
      border: none;
      padding: 10px 30px;
      font-size: 15px;
      background-color: #ffa41b;

      &.next {
        float: right;
        ::after {
          clear: both;
        }
      }
    }
  }

  .friend {
    text-align: center;
    position: relative;
    width: 35%;

    .friend-list {
      min-height: 500px;

      h2 {
        font-size: 25px;
        margin-bottom: 40px;
      }

      h3 {
        font-size: 20px;
        margin-bottom: 30px;
      }

      // 맞팔 목록
      .follow-back {
        padding: 30px;
        box-sizing: border-box;
        margin-bottom: 40px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        height: 380px;
        overflow-y: scroll;
      }

      // 팔로잉 목록
      .follow-ing {
        padding: 30px;
        box-sizing: border-box;
        border: 1px solid #cccccc;
        border-radius: 5px;
        height: 380px;
        overflow-y: scroll;
      }

      // 친구 목록(공통)
      .friend-item {
        font-size: 15px;
        display: flex;
        height: 30px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;

        // 팔로잉 취소 버튼
        .cancel {
          padding: 5px 10px;
          border-radius: 5px;
          color: #ffffff;
          background-color: #333333;
        }
      }

      .search {
        position: absolute;
        bottom: 0;
        left: 10%;
        padding: 10px 0;
        width: 80%;
        color: #ffffff;
        background-color: #333333;
      }
    }
  }
}
