@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap");
// React 초기화 코드
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
address,
button,
img,
strong,
sub,
sup,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
nav,
section,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background-color: transparent;

  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

.App {
  /* text-align: center; */
  font-family: "Noto Sans KR", sans-serif;
  background: #fff6f4;
  min-height: 100vh;

  nav {
    width: 100%;
    background: #24292f;
    padding: 20px 0;
    span {
      display: inline-block;
      width: 70px;
      text-align: center;
      a {
        color: #ffffff;
      }
    }
  }
}

/********************버튼 공통**************************/
button {
  color: #fff6f4;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
  font-size: 15px;
  background-color: #2e2e2e;
  cursor: pointer;
}

.btn {
  cursor: pointer;
}
